<div class="canvasBox">
    <div class="subHeader small roboLight">
        <div class="floatLeft">
            <div class="dropDown highlight midBlock thin subNormal">
                <div class="head" data-init="0">
                    <div class="headTitle">Map</div>
                </div>
                <ul class="list">
                    <li>Floor 1</li>
                    <li>Floor 2</li>
                    <li>New Space</li>
                </ul>
            </div>
        </div>
        <div class="floatRight">
            <a href="#" class="highlightB marginTopSml midBlock">Outdoor</a>
        </div>
        <span class="clear"></span>
    </div>

    <!--...... map .......-->
    <div class="mapContainer full" >
        <div class="map" id="canvasMap"></div>
    </div>

    <!--....... canvas List ......-->
    <div class="canvasListMain">
        <ul class="canvasList gates">
            <li class="accordionSec">
                <div class="accordionHead" data-init="0">
                    <div class="name">Gate 1</div>
                    <div class="expandBtn">+</div>
                </div>
                <div class="accordionContent">
                    <ul class="checkpoints">
                        <li class="accordionSec">
                            <div class="accordionHead" data-init="0">
                                <div class="name">Checkpoint 1</div>
                                <div class="expandBtn">+</div>
                                <div class="addBtn tag">Add</div>
                            </div>
                            <div class="accordionContent">
                                <ul class="camScan">
                                    <li class="accordionSec">
                                        <div class="accordionHead" data-init="0">
                                            <div class="name">Camera 1</div>
                                            <!--<div class="expandBtn">+</div>-->
                                            <div class="addBtn tag">ADD</div>
                                        </div>
                                        <div class="accordionContent">

                                        </div>
                                    </li>
                                    <li class="accordionSec">
                                        <div class="accordionHead" data-init="0">
                                            <div class="name">Scanner 1</div>
                                            <!--<div class="expandBtn">+</div>-->
                                            <div class="addBtn tag">Add</div>
                                        </div>
                                        <div class="accordionContent">

                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="accordionSec">
                            <div class="accordionHead" data-init="0">
                                <div class="name">Checkpoint 2</div>
                                <div class="expandBtn">+</div>
                                <div class="addBtn tag">Add</div>
                            </div>
                            <div class="accordionContent">
                                <ul class="camScan">
                                    <li class="accordionSec">
                                        <div class="accordionHead" data-init="0">
                                            <div class="name">Camera 1</div>
                                            <!--<div class="expandBtn">+</div>-->
                                            <div class="addBtn tag">Add</div>
                                        </div>
                                        <div class="accordionContent">

                                        </div>
                                    </li>
                                    <li class="accordionSec">
                                        <div class="accordionHead" data-init="0">
                                            <div class="name">Scanner 1</div>
                                            <!--<div class="expandBtn">+</div>-->
                                            <div class="addBtn tag">Add</div>
                                        </div>
                                        <div class="accordionContent">

                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="accordionSec">
                <div class="accordionHead" data-init="0">
                    <div class="name">Gate 2</div>
                    <div class="expandBtn">+</div>
                </div>
                <div class="accordionContent">
                    <ul class="checkpoints">
                        <li class="accordionSec">
                            <div class="accordionHead" data-init="0">
                                <div class="name">Checkpoint 1</div>
                                <div class="expandBtn">+</div>
                                <div class="addBtn tag">Add</div>
                            </div>
                            <div class="accordionContent">
                                <ul class="camScan">
                                    <li class="accordionSec">
                                        <div class="accordionHead" data-init="0">
                                            <div class="name">Camera 1</div>
                                            <!--<div class="expandBtn">+</div>-->
                                            <div class="addBtn tag">Add</div>
                                        </div>
                                        <div class="accordionContent">

                                        </div>
                                    </li>
                                    <li class="accordionSec">
                                        <div class="accordionHead" data-init="0">
                                            <div class="name">Scanner 1</div>
                                            <!--<div class="expandBtn">+</div>-->
                                            <div class="addBtn tag">Add</div>
                                        </div>
                                        <div class="accordionContent">

                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="accordionSec">
                            <div class="accordionHead" data-init="0">
                                <div class="name">Checkpoint 2</div>
                                <div class="expandBtn">+</div>
                                <div class="addBtn tag">Add</div>
                            </div>
                            <div class="accordionContent">
                                <ul class="camScan">
                                    <li class="accordionSec">
                                        <div class="accordionHead" data-init="0">
                                            <div class="name">Camera 1</div>
                                            <!--<div class="expandBtn">+</div>-->
                                            <div class="addBtn tag">Add</div>
                                        </div>
                                        <div class="accordionContent">

                                        </div>
                                    </li>
                                    <li class="accordionSec">
                                        <div class="accordionHead" data-init="0">
                                            <div class="name">Scanner 1</div>
                                            <!--<div class="expandBtn">+</div>-->
                                            <div class="addBtn tag">Add</div>
                                        </div>
                                        <div class="accordionContent">

                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>


    <!--....... canvas Details ......-->
    <div class="canvasDetailsBox">
        <!--<div class="close off">X</div>-->
        <ul class="form">
            <li>
                <div class="tag">
                    <div class="floatLeft">Camera</div>
                    <div class="floatRight">
                        <div class="deleteBtn deleteCanvasBtn">
                            <img src="images/delete_red.png" alt="">
                        </div>
                    </div>
                    <span class="clear"></span>
                </div>
                <div class="dropDown subNormal">
                    <div class="head" data-init="0">
                        <div class="headTitle">1</div>
                    </div>
                    <ul class="list">
                        <li>1</li>
                        <li>2</li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="tag">Gate</div>
                <div class="dropDown subNormal">
                    <div class="head" data-init="0">
                        <div class="headTitle">Gate 1</div>
                    </div>
                    <ul class="list">
                        <li>Gate 1</li>
                        <li>Gate 2</li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="tag">ID</div>
                <input type="text" placeholder="Enter ID">
            </li>
            <li>
                <div class="tag">Checkpoint</div>
                <div class="dropDown subNormal">
                    <div class="head" data-init="0">
                        <div class="headTitle">Checkpoint 342</div>
                    </div>
                    <ul class="list">
                        <li>Checkpoint 341</li>
                        <li>Checkpoint 342</li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="tag">Feed</div>
                <div class="dropDown subNormal">
                    <div class="head" data-init="0">
                        <div class="headTitle">Local Network</div>
                    </div>
                    <ul class="list">
                        <li>Local Network</li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="tag">IP</div>
                <input type="text" placeholder="Enter IP Address">
            </li>
            <li>
                <div class="tag">Latitude</div>
                <input type="text" placeholder="Enter Latitude">
            </li>
            <li>
                <div class="tag">Longitude</div>
                <input type="text" placeholder="Enter Longitude">
            </li>
        </ul>
        <div class="btnMain small">
            <div class="btn full rippleEle">SAVE</div>
        </div>
    </div>

</div>


<!--......... delete canvas popup .......-->
<div class="popup deleteCanvas roboLight">
    <div class="x close">X</div>
    <div class="popupCont">
        <div class="txt marginBtmSec smallTitle">Do you want to delete camera 1?</div>
        <div class="btnMain subNormal">
            <div class="btn midBlock marginRgt">Yes</div>
            <div class="btn midBlock cancel close">Cancel</div>
        </div>
    </div>
</div>