<div class="moreBtm watchlistSec">
    <div class="subHeader small roboLight">
        <div class="floatLeft">
            <div class="dropDown midBlock thin">
                <div class="head" data-init="0">
                    <div class="headTitle">Authentication</div>
                </div>
                <ul class="list">
                    <li>Authentication</li>
                </ul>
            </div>
            <div class="dropDown midBlock thin marginLeft">
                <div class="head" data-init="0">
                    <div class="headTitle">Gate</div>
                </div>
                <ul class="list">
                    <li>Gate 1</li>
                    <li>Gate 2</li>
                    <li>Gate 3</li>
                </ul>
            </div>
            <div class="dropDown midBlock thin marginLeft">
                <div class="head" data-init="0">
                    <div class="headTitle">Checkpoint</div>
                </div>
                <ul class="list">
                    <li>Checkpoint 1</li>
                    <li>Checkpoint 2</li>
                    <li>Checkpoint 3</li>
                </ul>
            </div>


            <div class="dateBox thin midBlock marginLeft">
                <div class="tag">From</div>
                <input type="text" class="small" date-picker>
            </div>

            <div class="dateBox thin midBlock marginLeftSml">
                <div class="tag">To</div>
                <input type="text" class="small" date-picker>
            </div>
        </div>
        <div class="floatRight">
            <div class="dropDown midBlock thin blue">
                <div class="head" data-init="0">
                    <div class="headTitle">Download PDF</div>
                </div>
                <ul class="list">
                    <li>Download PDF</li>
                    <li>Download XML</li>
                    <li>Download csv</li>
                </ul>
            </div>
        </div>
        <span class="clear"></span>
    </div>



    <!--........ summary table .........-->
    <div class="dataTable summaryTable whiteBack marginLR roboLight centerTxt subNormal marginBtm">
        <div class="dataRow">
            <ul class="rowCont">
                <li class="active">
                    <div class="num mainTitle">235</div>
                    <div class="name">All</div>
                </li>
                <li>
                    <div class="num mainTitle">235</div>
                    <div class="name">Pass</div>
                </li>
                <li>
                    <div class="num mainTitle off">12</div>
                    <div class="name">Fail</div>
                </li>
                <li>
                    <div class="num mainTitle">07</div>
                    <div class="name">Gates</div>
                </li>
                <li>
                    <div class="num mainTitle">16</div>
                    <div class="name">Checkpoints</div>
                </li>
                <li>
                    <div class="num mainTitle">16</div>
                    <div class="name">Cameras</div>
                </li>
                <li>
                    <div class="num mainTitle">12</div>
                    <div class="name">Scanner</div>
                </li>
                <li>
                    <div class="num mainTitle">04</div>
                    <div class="name">Single Factor</div>
                </li>
                <li>
                    <div class="num mainTitle">03</div>
                    <div class="name">Two Factor</div>
                </li>
            </ul>
        </div>
    </div>


    <!--<div class="btn" ng-click="test=!test">{{test}}</div>-->

    <!--<div class="markerMain">-->
        <!--<div class="markerBox"></div>-->
        <!--<div class="markerGate" ng-class="{active: test}">-->
            <!--<div class="gateName">-->
                <!--<div class="num midBlock">G1</div>-->
                <!--<div class="txt midBlock">Gate</div>-->
            <!--</div>-->
            <!--<ul class="checkpointList">-->
                <!--<li class="checkpoint">-->
                    <!--<div class="checkpointBox"></div>-->
                    <!--<div class="checkpointName">Chk 1</div>-->

                    <!--<div class="camera active"><div class="name">Cam1</div></div>-->
                    <!--<div class="scanner"><div class="name">S1</div></div>-->
                <!--</li>-->
                <!--<li class="checkpoint">-->
                    <!--<div class="checkpointBox"></div>-->
                    <!--<div class="checkpointName">Chk 2</div>-->

                    <!--<div class="camera"><div class="name">Cam1</div></div>-->
                    <!--<div class="scanner active"><div class="name">S1</div></div>-->
                <!--</li>-->
                <!--<li class="checkpoint">-->
                    <!--<div class="checkpointBox"></div>-->
                    <!--<div class="checkpointName">Chk 2</div>-->

                    <!--<div class="camera active"><div class="name">Cam1</div></div>-->
                <!--</li>-->
            <!--</ul>-->

        <!--</div>-->
    <!--</div>-->


    <!--....... watchlist ........-->
    <div class="dataTable watchlistTable full small marginBtmSec">
        <div class="dataRow header">
            <ul class="rowCont">
                <li class="name">
                    <div class="checkbox midBlock">
                        <input type="checkbox">
                        <div class="box"></div>
                    </div>
                    <div class="midBlock txt marginLeftSrt">NAME</div>
                </li>
                <li class="gate">
                    <div class="dropDown thin">
                        <div class="head" data-init="0">
                            <div class="headTitle">GATE ALL</div>
                        </div>
                        <ul class="list">
                            <li>GATE ALL</li>
                            <li>GATE 1</li>
                            <li>GATE 2</li>
                            <li>GATE 3</li>
                        </ul>
                    </div>
                </li>
                <li class="email">EMAIL</li>
                <li class="id">ID</li>
                <li class="time">TIMESTAMP</li>
                <li class="access">ACCESS</li>
                <li class="match">MATCH</li>
                <li class="enrolled">ENROLLED</li>
                <li class="captured">CAPTURED</li>
            </ul>
        </div>
        <div class="dataRow">
            <ul class="rowCont">
                <li class="name">
                    <label>
                        <div class="checkbox midBlock">
                            <input type="checkbox">
                            <div class="box"></div>
                        </div>
                        <div class="midBlock txt marginLeftSrt">Jason Mathew</div>
                    </label>
                </li>
                <li class="gate">GATE 3</li>
                <li class="email">json@gmail.com</li>
                <li class="id">S6X7J428H</li>
                <li class="time">12.09.2016</li>
                <li class="access">Temporary</li>
                <li class="match">82%</li>
                <li class="enrolled">
                    <div class="personPic">
                        <img src="images/detection3.jpg" alt="">
                    </div>
                </li>
                <li class="captured">
                    <div class="personPic">
                        <img src="images/detection3.jpg" alt="">
                    </div>
                </li>
            </ul>
        </div>
        <div class="dataRow">
            <ul class="rowCont">
                <li class="name">
                    <label>
                        <div class="checkbox midBlock">
                            <input type="checkbox">
                            <div class="box"></div>
                        </div>
                        <div class="midBlock txt marginLeftSrt">Jason Mathew</div>
                    </label>
                </li>
                <li class="gate">GATE 3</li>
                <li class="email">json@gmail.com</li>
                <li class="id">S6X7J428H</li>
                <li class="time">12.09.2016</li>
                <li class="access">Temporary</li>
                <li class="match">82%</li>
                <li class="enrolled">
                    <div class="personPic">
                        <img src="images/detection3.jpg" alt="">
                    </div>
                </li>
                <li class="captured">
                    <div class="personPic">
                        <img src="images/detection3.jpg" alt="">
                    </div>
                </li>
            </ul>
        </div>
        <div class="dataRow">
            <ul class="rowCont">
                <li class="name">
                    <label>
                        <div class="checkbox midBlock">
                            <input type="checkbox">
                            <div class="box"></div>
                        </div>
                        <div class="midBlock txt marginLeftSrt">Jason Mathew</div>
                    </label>
                </li>
                <li class="gate">GATE 3</li>
                <li class="email">json@gmail.com</li>
                <li class="id">S6X7J428H</li>
                <li class="time">12.09.2016</li>
                <li class="access">Temporary</li>
                <li class="match">82%</li>
                <li class="enrolled">
                    <div class="personPic">
                        <img src="images/detection3.jpg" alt="">
                    </div>
                </li>
                <li class="captured">
                    <div class="personPic">
                        <img src="images/detection3.jpg" alt="">
                    </div>
                </li>
            </ul>
        </div>
        <div class="dataRow low">
            <ul class="rowCont">
                <li class="name">
                    <label>
                        <div class="checkbox midBlock">
                            <input type="checkbox">
                            <div class="box"></div>
                        </div>
                        <div class="midBlock txt marginLeftSrt">Jason Mathew</div>
                    </label>
                </li>
                <li class="gate">GATE 3</li>
                <li class="email">json@gmail.com</li>
                <li class="id">S6X7J428H</li>
                <li class="time">12.09.2016</li>
                <li class="access">Temporary</li>
                <li class="match">23%</li>
                <li class="enrolled">
                    <div class="personPic">
                        <img src="images/detection3.jpg" alt="">
                    </div>
                </li>
                <li class="captured">
                    <div class="personPic">
                        <img src="images/detection3.jpg" alt="">
                    </div>
                </li>
            </ul>
        </div>
        <div class="dataRow">
            <ul class="rowCont">
                <li class="name">
                    <label>
                        <div class="checkbox midBlock">
                            <input type="checkbox">
                            <div class="box"></div>
                        </div>
                        <div class="midBlock txt marginLeftSrt">Jason Mathew</div>
                    </label>
                </li>
                <li class="gate">GATE 3</li>
                <li class="email">json@gmail.com</li>
                <li class="id">S6X7J428H</li>
                <li class="time">12.09.2016</li>
                <li class="access">Temporary</li>
                <li class="match">82%</li>
                <li class="enrolled">
                    <div class="personPic">
                        <img src="images/detection3.jpg" alt="">
                    </div>
                </li>
                <li class="captured">
                    <div class="personPic">
                        <img src="images/detection3.jpg" alt="">
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <ul class="pagination">
        <li class="prev"></li>
        <li>1</li>
        <li>2</li>
        <li class="active">3</li>
        <li>4</li>
        <li>5</li>
        <li class="next"></li>
    </ul>
</div>