
<!--........ summary table .........-->
<!--<div class="dataTable summaryTable whiteBack marginLR roboLight centerTxt subNormal marginBtm">-->
    <!--<div class="dataRow">-->
        <!--<ul class="rowCont">-->
            <!--<li>-->
                <!--<div class="num vLargeTxt">315</div>-->
                <!--<div class="name">Pass</div>-->
            <!--</li>-->
            <!--<li>-->
                <!--<div class="num vLargeTxt off">2</div>-->
                <!--<div class="name">Fail</div>-->
            <!--</li>-->
            <!--<li>-->
                <!--<div class="num vLargeTxt">317</div>-->
                <!--<div class="name">Total Count</div>-->
            <!--</li>-->
            <!--<li>-->
                <!--<div class="num vLargeTxt">7</div>-->
                <!--<div class="name">Gates</div>-->
            <!--</li>-->
            <!--<li>-->
                <!--<div class="num vLargeTxt">164</div>-->
                <!--<div class="name">Men</div>-->
            <!--</li>-->
            <!--<li>-->
                <!--<div class="num vLargeTxt">151</div>-->
                <!--<div class="name">Women</div>-->
            <!--</li>-->
            <!--<li>-->
                <!--<div class="num vLargeTxt">19</div>-->
                <!--<div class="name">Cameras</div>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->


<div class="graph paddingFull">
    <div class="smallTitle marginBtm">All Gates</div>
    <flash-graph type="column" x="x" y="y"
                 margin-top="10" label-x="true" label-y="true"
                 grid-width-y="0" title-y="No. of people" font-family="robotoregular"
                 label-size="14" label-color="#222222"
                 colors="['#0cc1d4']"></flash-graph>
</div>