<div class="moreBtm watchlistSec">
    <div class="subHeader small roboLight">
        <div class="floatLeft">
            <div class="dropDown midBlock thin">
                <div class="head" data-init="0">
                    <div class="headTitle">All</div>
                </div>
                <ul class="list">
                    <li>All</li>
                </ul>
            </div>
            <div class="searchBox midBlock whiteBack marginLeftSml">
                <input type="text" class="small" placeholder="Search">
                <div class="searchBtn"></div>
            </div>


            <div class="dateBox thin midBlock marginLeft">
                <div class="tag">From</div>
                <input type="text" class="small" date-picker>
            </div>

            <div class="dateBox thin midBlock marginLeftSml">
                <div class="tag">To</div>
                <input type="text" class="small" date-picker>
            </div>
            <div class="btnMain midBlock marginLeft small">
                <div class="btn midBlock flat">Sync</div>
                <div class="btn midBlock flat marginLeftSml">Purge</div>
            </div>
        </div>
        <div class="floatRight">
            <div class="btn small flat addPeopleBtn">Add people</div>
        </div>
        <span class="clear"></span>

        <div class="liveBox smallest marginTop helvRegular">
            <div class="live midBlock highlight">LIVE SCREENING</div>
            <div class="midBlock highlightB">WATCHLIST</div>
        </div>
    </div>



    <!--........ summary table .........-->
    <div class="dataTable summaryTable whiteBack marginLR roboLight centerTxt subNormal">
        <div class="dataRow">
            <ul class="rowCont">
                <li class="active">
                    <div class="num largeTitle">827</div>
                    <div class="name">Total</div>
                </li>
                <li>
                    <div class="num largeTitle">326</div>
                    <div class="name">Pass</div>
                </li>
                <li>
                    <div class="num largeTitle off">07</div>
                    <div class="name">Fail</div>
                </li>
                <li>
                    <div class="num largeTitle">23</div>
                    <div class="name">Flagged</div>
                </li>
                <li>
                    <div class="num largeTitle">16</div>
                    <div class="name">New Auditions</div>
                </li>
                <li>
                    <div class="num largeTitle">14</div>
                    <div class="name">Temporary</div>
                </li>
                <li>
                    <div class="num largeTitle">05</div>
                    <div class="name">Guest</div>
                </li>
            </ul>
        </div>
    </div>

    <!--........ detection slider .......-->
    <div class="paddingFull">
        <div class="detectionSlider">
            <div class="leftArrow arrow arrow2"></div>
            <div class="rightArrow arrow arrow1"></div>

            <ul class="detectionList">
                <slick settings="slickConfig" dots="true" slides-to-show=3 slides-to-scroll=3 prev-arrow=".arrow1" next-arrow=".arrow2">
                    <li class="low">
                        <div class="detailsMain">
                            <div class="detailsBox">
                                <div class="personIcon midBlock">
                                    <img src="images/detection1.jpg" alt="">
                                </div>
                                <div class="details midBlock">
                                    <div class="name">Jason Mathew</div>
                                    <div class="email">jason@gmail.com</div>
                                    <ul class="subDetails">
                                        <li>X67SJ4</li>
                                        <li>12:28</li>
                                        <li>G3</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="numberMain">
                                <div class="number">35%</div>
                            </div>
                        </div>
                    </li>
                    <li class="mid">
                        <div class="detailsMain">
                            <div class="detailsBox">
                                <div class="personIcon midBlock">
                                    <img src="images/detection2.jpg" alt="">
                                </div>
                                <div class="details midBlock">
                                    <div class="name">Steven Smith</div>
                                    <div class="email">jason@gmail.com</div>
                                    <ul class="subDetails">
                                        <li>X67SJ4</li>
                                        <li>12:28</li>
                                        <li>G3</li>
                                    </ul>
                                </div>
                                <div class="icon">
                                    <img src="images/personIcon.png" alt="">
                                </div>
                            </div>
                            <div class="numberMain">
                                <div class="number">28%</div>
                            </div>
                        </div>
                    </li>
                    <li class="mid">
                        <div class="detailsMain">
                            <div class="detailsBox">
                                <div class="personIcon midBlock">
                                    <img src="images/detection3.jpg" alt="">
                                </div>
                                <div class="details midBlock">
                                    <div class="name">Andrew Hunt</div>
                                    <div class="email">jason@gmail.com</div>
                                    <ul class="subDetails">
                                        <li>X67SJ4</li>
                                        <li>12:28</li>
                                        <li>G3</li>
                                    </ul>
                                </div>
                                <div class="icon">
                                    <img src="images/thumb.png" alt="">
                                </div>
                            </div>
                            <div class="numberMain">
                                <div class="number">28%</div>
                            </div>
                        </div>
                    </li>
                    <li class="low">
                        <div class="detailsMain">
                            <div class="detailsBox">
                                <div class="personIcon midBlock">
                                    <img src="images/detection1.jpg" alt="">
                                </div>
                                <div class="details midBlock">
                                    <div class="name">Jason Mathew</div>
                                    <div class="email">jason@gmail.com</div>
                                    <ul class="subDetails">
                                        <li>X67SJ4</li>
                                        <li>12:28</li>
                                        <li>G3</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="numberMain">
                                <div class="number">35%</div>
                            </div>
                        </div>
                    </li>
                    <li class="mid">
                        <div class="detailsMain">
                            <div class="detailsBox">
                                <div class="personIcon midBlock">
                                    <img src="images/detection2.jpg" alt="">
                                </div>
                                <div class="details midBlock">
                                    <div class="name">Steven Smith</div>
                                    <div class="email">jason@gmail.com</div>
                                    <ul class="subDetails">
                                        <li>X67SJ4</li>
                                        <li>12:28</li>
                                        <li>G3</li>
                                    </ul>
                                </div>
                                <div class="icon">
                                    <img src="images/personIcon.png" alt="">
                                </div>
                            </div>
                            <div class="numberMain">
                                <div class="number">28%</div>
                            </div>
                        </div>
                    </li>
                    <li class="mid">
                        <div class="detailsMain">
                            <div class="detailsBox">
                                <div class="personIcon midBlock">
                                    <img src="images/detection3.jpg" alt="">
                                </div>
                                <div class="details midBlock">
                                    <div class="name">Andrew Hunt</div>
                                    <div class="email">jason@gmail.com</div>
                                    <ul class="subDetails">
                                        <li>X67SJ4</li>
                                        <li>12:28</li>
                                        <li>G3</li>
                                    </ul>
                                </div>
                                <div class="icon">
                                    <img src="images/thumb.png" alt="">
                                </div>
                            </div>
                            <div class="numberMain">
                                <div class="number">28%</div>
                            </div>
                        </div>
                    </li>
                    <li class="low">
                        <div class="detailsMain">
                            <div class="detailsBox">
                                <div class="personIcon midBlock">
                                    <img src="images/detection1.jpg" alt="">
                                </div>
                                <div class="details midBlock">
                                    <div class="name">Jason Mathew</div>
                                    <div class="email">jason@gmail.com</div>
                                    <ul class="subDetails">
                                        <li>X67SJ4</li>
                                        <li>12:28</li>
                                        <li>G3</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="numberMain">
                                <div class="number">35%</div>
                            </div>
                        </div>
                    </li>
                    <li class="mid">
                        <div class="detailsMain">
                            <div class="detailsBox">
                                <div class="personIcon midBlock">
                                    <img src="images/detection2.jpg" alt="">
                                </div>
                                <div class="details midBlock">
                                    <div class="name">Steven Smith</div>
                                    <div class="email">jason@gmail.com</div>
                                    <ul class="subDetails">
                                        <li>X67SJ4</li>
                                        <li>12:28</li>
                                        <li>G3</li>
                                    </ul>
                                </div>
                                <div class="icon">
                                    <img src="images/personIcon.png" alt="">
                                </div>
                            </div>
                            <div class="numberMain">
                                <div class="number">28%</div>
                            </div>
                        </div>
                    </li>
                    <li class="mid">
                        <div class="detailsMain">
                            <div class="detailsBox">
                                <div class="personIcon midBlock">
                                    <img src="images/detection3.jpg" alt="">
                                </div>
                                <div class="details midBlock">
                                    <div class="name">Andrew Hunt</div>
                                    <div class="email">jason@gmail.com</div>
                                    <ul class="subDetails">
                                        <li>X67SJ4</li>
                                        <li>12:28</li>
                                        <li>G3</li>
                                    </ul>
                                </div>
                                <div class="icon">
                                    <img src="images/thumb.png" alt="">
                                </div>
                            </div>
                            <div class="numberMain">
                                <div class="number">28%</div>
                            </div>
                        </div>
                    </li>
                </slick>
            </ul>
        </div>
    </div>

    <!--....... watchlist ........-->
    <div class="dataTable watchlistTable full small">
        <div class="dataRow header">
            <ul class="rowCont">
                <li class="name">
                    <div class="checkbox midBlock">
                        <input type="checkbox">
                        <div class="box"></div>
                    </div>
                    <div class="midBlock txt marginLeftSrt">NAME</div>
                </li>
                <li class="gate">
                    <div class="dropDown thin">
                        <div class="head" data-init="0">
                            <div class="headTitle">GATE ALL</div>
                        </div>
                        <ul class="list">
                            <li>GATE ALL</li>
                            <li>GATE 1</li>
                            <li>GATE 2</li>
                            <li>GATE 3</li>
                        </ul>
                    </div>
                </li>
                <li class="email">EMAIL</li>
                <li class="id">ID</li>
                <li class="time">TIMESTAMP</li>
                <li class="access">ACCESS</li>
                <li class="match">MATCH</li>
                <li class="enrolled">ENROLLED</li>
                <li class="captured">CAPTURED</li>
            </ul>
        </div>
        <div class="dataRow">
            <ul class="rowCont">
                <li class="name">
                    <label>
                        <div class="checkbox midBlock">
                            <input type="checkbox">
                            <div class="box"></div>
                        </div>
                        <div class="midBlock txt marginLeftSrt">Jason Mathew</div>
                    </label>
                </li>
                <li class="gate">GATE 3</li>
                <li class="email">json@gmail.com</li>
                <li class="id">S6X7J428H</li>
                <li class="time">12.09.2016</li>
                <li class="access">Temporary</li>
                <li class="match">82%</li>
                <li class="enrolled">
                    <div class="personPic">
                        <img src="images/detection3.jpg" alt="">
                    </div>
                </li>
                <li class="captured">
                    <div class="personPic">
                        <img src="images/detection3.jpg" alt="">
                    </div>
                </li>
            </ul>
        </div>
        <div class="dataRow">
            <ul class="rowCont">
                <li class="name">
                    <label>
                        <div class="checkbox midBlock">
                            <input type="checkbox">
                            <div class="box"></div>
                        </div>
                        <div class="midBlock txt marginLeftSrt">Jason Mathew</div>
                    </label>
                </li>
                <li class="gate">GATE 3</li>
                <li class="email">json@gmail.com</li>
                <li class="id">S6X7J428H</li>
                <li class="time">12.09.2016</li>
                <li class="access">Temporary</li>
                <li class="match">82%</li>
                <li class="enrolled">
                    <div class="personPic">
                        <img src="images/detection3.jpg" alt="">
                    </div>
                </li>
                <li class="captured">
                    <div class="personPic">
                        <img src="images/detection3.jpg" alt="">
                    </div>
                </li>
            </ul>
        </div>
        <div class="dataRow">
            <ul class="rowCont">
                <li class="name">
                    <label>
                        <div class="checkbox midBlock">
                            <input type="checkbox">
                            <div class="box"></div>
                        </div>
                        <div class="midBlock txt marginLeftSrt">Jason Mathew</div>
                    </label>
                </li>
                <li class="gate">GATE 3</li>
                <li class="email">json@gmail.com</li>
                <li class="id">S6X7J428H</li>
                <li class="time">12.09.2016</li>
                <li class="access">Temporary</li>
                <li class="match">82%</li>
                <li class="enrolled">
                    <div class="personPic">
                        <img src="images/detection3.jpg" alt="">
                    </div>
                </li>
                <li class="captured">
                    <div class="personPic">
                        <img src="images/detection3.jpg" alt="">
                    </div>
                </li>
            </ul>
        </div>
        <div class="dataRow low">
            <ul class="rowCont">
                <li class="name">
                    <label>
                        <div class="checkbox midBlock">
                            <input type="checkbox">
                            <div class="box"></div>
                        </div>
                        <div class="midBlock txt marginLeftSrt">Jason Mathew</div>
                    </label>
                </li>
                <li class="gate">GATE 3</li>
                <li class="email">json@gmail.com</li>
                <li class="id">S6X7J428H</li>
                <li class="time">12.09.2016</li>
                <li class="access">Temporary</li>
                <li class="match">23%</li>
                <li class="enrolled">
                    <div class="personPic">
                        <img src="images/detection3.jpg" alt="">
                    </div>
                </li>
                <li class="captured">
                    <div class="personPic">
                        <img src="images/detection3.jpg" alt="">
                    </div>
                </li>
            </ul>
        </div>
        <div class="dataRow">
            <ul class="rowCont">
                <li class="name">
                    <label>
                        <div class="checkbox midBlock">
                            <input type="checkbox">
                            <div class="box"></div>
                        </div>
                        <div class="midBlock txt marginLeftSrt">Jason Mathew</div>
                    </label>
                </li>
                <li class="gate">GATE 3</li>
                <li class="email">json@gmail.com</li>
                <li class="id">S6X7J428H</li>
                <li class="time">12.09.2016</li>
                <li class="access">Temporary</li>
                <li class="match">82%</li>
                <li class="enrolled">
                    <div class="personPic">
                        <img src="images/detection3.jpg" alt="">
                    </div>
                </li>
                <li class="captured">
                    <div class="personPic">
                        <img src="images/detection3.jpg" alt="">
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="permission borderBtm">
        <div class="dropDown midBlock blue thin small">
            <div class="head" data-init="0">
                <div class="headTitle">Change Permission</div>
            </div>
            <ul class="list">
                <li>Change Permission</li>
            </ul>
        </div>
    </div>

    <ul class="pagination">
        <li class="prev"></li>
        <li>1</li>
        <li>2</li>
        <li class="active">3</li>
        <li>4</li>
        <li>5</li>
        <li class="next"></li>
    </ul>
</div>


<!--......... add people popup ...........-->
<div class="popup addPeoplePopup large absolute">
    <div class="x close">X</div>
    <div class="popupCont subNormal">
        <div class="paddingTBSml borderBtm marginBtm" ng-init="addPeople='bulk'">
            <div class="tabs plane ">
                <div class="" ng-class="{active: addPeople=='bulk'}" ng-click="addPeople='bulk'">Bulk import</div>
                <div class="" ng-class="{active: addPeople=='single'}" ng-click="addPeople='single'">Single entry</div>
            </div>
        </div>
        <div class="marginBtm">
            <div class="bulkCont" ng-show="addPeople=='bulk'">
                <ul class="form flow">
                    <li>
                        <div class="tag">IP Address (MongoDB)</div>
                        <input type="text" placeholder="Enter IP Address">
                    </li>
                    <li>
                        <div class="tag">Port</div>
                        <input type="text" placeholder="Enter Port">
                    </li>
                    <li>
                        <div class="tag">Connecting String</div>
                        <input type="text" placeholder="Enter Connecting String">
                    </li>
                    <li>
                        <div class="tag">Collection</div>
                        <input type="text" placeholder="Enter Collection">
                    </li>
                    <li>
                        <div class="tag">Load Type</div>
                        <div class="dropDown">
                            <div class="head">
                                <div class="headTitle">Load Type</div>
                            </div>
                            <ul class="list">
                                <li>Load Type 1</li>
                                <li>Load Type 2</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="tag">Query</div>
                        <input type="text" placeholder="Enter Query">
                    </li>
                </ul>
            </div>
            <div class="single" ng-show="addPeople=='single'">
                <div class="uploads smallest marginBtmSec">
                    <div class="floatLeft">
                        <div class="frame midBlock upload">
                            <div class="tag">Photo</div>
                            <div class="name">Upload</div>
                        </div>
                        <div class="orBlock midBlock"><div class="txt">OR</div></div>
                    </div>
                    <div class="floatRight">
                        <div class="frame midBlock marginRgt">
                            <div class="tag">Front</div>
                            <div class="name">Click</div>
                        </div>
                        <div class="frame midBlock marginRgt">
                            <div class="tag">Left Profile</div>
                            <div class="name">Click</div>
                        </div>
                        <div class="frame midBlock">
                            <div class="tag">Right Profile</div>
                            <div class="name">Click</div>
                        </div>
                    </div>
                    <span class="clear"></span>
                </div>
                <ul class="form flow">
                    <li>
                        <div class="tag">Name</div>
                        <input type="text" placeholder="Enter Name">
                    </li>
                    <li>
                        <div class="tag">ID</div>
                        <input type="text" placeholder="Enter ID">
                    </li>
                    <li>
                        <div class="tag">Address</div>
                        <input type="text" placeholder="Enter Address">
                    </li>
                    <li>
                        <div class="tag">Dept</div>
                        <div class="dropDown">
                            <div class="head">
                                <div class="headTitle">ASCI Design</div>
                            </div>
                            <ul class="list">
                                <li>ASCI Design 1</li>
                                <li>ASCI Design 2</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="tag">Rank</div>
                        <div class="dropDown">
                            <div class="head">
                                <div class="headTitle">Senior Research</div>
                            </div>
                            <ul class="list">
                                <li>Senior Research 1</li>
                                <li>Senior Research 2</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="tag">Access Type</div>
                        <div class="dropDown">
                            <div class="head">
                                <div class="headTitle">Full</div>
                            </div>
                            <ul class="list">
                                <li>Full 1</li>
                                <li>Full 2</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="tag">Employment Type</div>
                        <div class="dropDown">
                            <div class="head">
                                <div class="headTitle">Permanent</div>
                            </div>
                            <ul class="list">
                                <li>Permanent</li>
                                <li>Temporary</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="tag">Query</div>
                        <input type="text" placeholder="Enter Query">
                    </li>
                </ul>
                <div class="">
                    <div class="floatLeft">
                        <label class="pointer">
                        <span class="checkbox midBlock">
                            <input type="checkbox" checked>
                            <span class="box"></span>
                        </span>
                            <span class="midBlock marginLeftSrt normal">VIP</span>
                        </label>
                    </div>
                    <div class="floatRight small roboLight marginTopSrt">
                        <span class="off">Note:</span> Random authentication request are applicable
                    </div>
                    <span class="clear"></span>
                </div>
            </div>
        </div>
        <div class="btnMain smallest">
            <div class="btn midBlock marginRgt width">IMPORT</div>
            <div class="btn width midBlock cancel close">CANCEL</div>
        </div>

    </div>

</div>